@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e004b;
  --primary: #6000ff;
  --primary-foreground: #ffffff;
  --secondary: #f8f6ff;
  --accent: #ffb800;
  --dark-bg: #1e004b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark-bg: var(--dark-bg);
  --font-sans: 'Outfit', var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1e004b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}